* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: var(--background);
  text-align: center;
}

header {
  padding-top: 8rem;
}

img {
  height: 87px;
  width: 100px;
}

h1 {
  margin-top: 0.6rem;
  font-weight: 600;
  color: var(--title);
}

span {
  display: inline-block;
  height: 47px;
  width: 180px;

  border: 2px solid #1a1a1a;
  border-radius: 5px;

  font-weight: 600;
  color: #000000;
  background: var(--bg-span);
  text-align: center;
}

span img {
  width: 35px;
  height: 25px;
}
