* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: var(--background);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--subtitle);
}

header {
  margin-bottom: 1.85rem;
}

header img {
  height: 87px;
  width: 100px;
}

header h1 {
  margin-top: 0.6rem;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: var(--title);
}

#infoMovie {
  display: none;
  height: 19rem;
}

#infoMovie.infoMovieShow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#infoMovie img {
  width: 10rem;
  height: 15rem;
  margin-top: 0.77rem;
  margin-right: 2.1rem;
}

#infoMovie div {
  color: var(--title);
  width: 26rem;
  text-align: left;
}

#infoMovie div h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

#infoMovie div p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.18rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}

button {
  width: 180px;
  height: 47px;
  padding: 1px 6px 1px 6px;
  border: 2px solid #1a1a1a;
  border-radius: 5px;
  background: var(--bg-button);
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button span {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
}

button img {
  width: 22px;
  height: 22px;
}

#legenda {
  width: 381px;
  color: var(--title);
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1.3rem;
}
